<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="provider" value="MSSQL"/> <!-- MSSQL: Microsoft Azure     MYSQL: Umbler -->
    <add key="server" value=""/>
    <add key="port" value=""/>
    <add key="database" value=""/>
    <add key="user" value=""/>
    <add key="password" value=""/>
    <!--<add key="server" value=""/>
    <add key="port" value=""/>
    <add key="database" value=""/>
    <add key="user" value=""/>
    <add key="password" value=""/>-->
  </appSettings>
</configuration>